@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;700&family=Inter:wght@300;700&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e3e3e3;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

button {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}